[submodule "packages/column-enforce-mode"]
	path = packages/column-enforce-mode
	url = https://github.com/jordonbiondo/column-enforce-mode
[submodule "Highlight-Indentation-for-Emacs"]
	path = Highlight-Indentation-for-Emacs
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs
[submodule "packages/Highlight-Indentation-for-Emacs"]
	path = packages/Highlight-Indentation-for-Emacs
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "packages/predictive"]
	path = packages/predictive
	url = http://www.dr-qubit.org/git/predictive.git
